<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>Esta es la aplicacion de este autor {{ AUTHOR }}</h1>
        <p>hola que hace esto es un pequeño parrafo desde ansible del entorno {{ ENVIRONMENT }}</p>
    </div>
    <footer>
        <p>Todos los derechos reservados para esta aplicacion del ambiente {{ ENVIRONMENT }} del año {{ YEAR }}</p>
    </footer>
</body>
</html>